#mainHeader {
    padding: 0 0 20px 0;
    font-size: 14px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

.good-price {
    color: #4a7f45 !important;
    font-weight: bold !important;
}

#category-menu {
    position: fixed;
    float: left;
    padding: 60px 15px;
}

#product-list {
    float: right;
    left: 20px;
}

#content {
    min-height: 451px;
}

.buttons .btn {
    padding-left: 5px;
}

#mainImage {
    margin-bottom: 20px;
}

table tr td:nth-child(1) {
    font-weight: bold;
}

#productMain .mainHeading {
    font-weight: 300;
    margin-bottom: 20px;
}

input[type="number"] {
    padding-right: 5px; 
}

.required {
    color: #ff0000;
}

.img-product {
    max-width: 180px;
    height: 180px;
    margin: 0 auto;
}

#content .product .text {
    padding: 0;
}